[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
black = "*"
pypdf = "*"
langchain-ollama = "*"
langchain-community = "*"
langchainhub = "*"
faiss-cpu = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.13"
